@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-dark text-primary;
  }
}

html {
  font:
    112.5%/1.625 -apple-system,
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Helvetica',
    'Arial',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior: smooth;
}
