---
import BaseLayout from '@/layouts/base.astro'
---

<BaseLayout title='Oh Jeez Rick!' description="There's nothing to see here">
  <main class='flex h-auto min-h-[calc(100vh-180px)] flex-col items-center justify-center p-6 text-center font-black'>
    <h1 class='max-w-2xl text-6xl md:text-7xl'>You you broke the page</h1>
    <h2 class='mt-10 text-5xl md:text-6xl xl:mt-20'>404</h2>
  </main>
</BaseLayout>
